@import "tailwindcss";

:root {
  --font-inter: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #1E1E1E;
  font-family: var(--font-inter), sans-serif;
}

.wrapper-index {
  border-left: 1px solid #8F8D81;
  border-right: 1px solid #8F8D81;
}
